@font-face {
	font-family: 'Medieval English Normal';
	src: url('assets/fonts/medieval_english_normal.eot'); /* IE 9 Compatibility Mode */
	src: url('assets/fonts/medieval_english_normal.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('assets/fonts/medieval_english_normal.woff2') format('woff2'), /* Super Modern Browsers */
		url('assets/fonts/medieval_english_normal.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('assets/fonts/medieval_english_normal.ttf') format('truetype'), /* Safari, Android, iOS */
		url('assets/fonts/medieval_english_normal.svg#medieval_english_normal') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'President Cyr';
	src: url('assets/fonts/president_cyr.eot'); /* IE 9 Compatibility Mode */
	src: url('assets/fonts/president_cyr.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('assets/fonts/president_cyr.woff2') format('woff2'), /* Super Modern Browsers */
		url('assets/fonts/president_cyr.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('assets/fonts/president_cyr.ttf') format('truetype'), /* Safari, Android, iOS */
		url('assets/fonts/president_cyr.svg#president_cyr') format('svg'); /* Chrome < 4, Legacy iOS */
}

html {
    scroll-behavior: smooth;
}

h1 {
    margin: 0;
    font-family: "Medieval English Normal";
}

h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: "President Cyr";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 350px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: "President Cyr";
    text-align: justify;
    
}

p {
    margin: 0;
    font-size: 18px;
    font-family: "President Cyr";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.nav-link {
    color: black;
    padding: 0 30px;
    line-height: 50px;
}

.nav-item {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.nav-item a:hover {
    color:#6d8053;
}

.about-me {
    display: flex;
}

.thought-bubble {
    position: relative;
    width: 100%;
    padding: 20px;
    margin-left: 20px;
    background-color: #f6f3f3;
    border-radius: 10px;
    text-align: center;
}

.thought-bubble::before {
    content: "";
    position: absolute;
    left: -125px;
    top: 145px;
    border-top: 10px solid transparent;
    border-right: 130px solid #f6f3f3;
    border-bottom: 50px solid transparent;
    opacity: 0.75;
}

.information-bubble  {
    line-height: 1.5;
    font-size: 26px;
}

.header {
    width: 90%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    margin-top: 20px;
}

.avatar {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    border: 15px solid #6d8053;
}

.main {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin-top: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.skills, .contacts {
    width: 50%;
}

@media (max-width: 768px) {
    .skills, .contacts {
      width: 100%;
    }
  }

.project-text {
    margin-bottom: 10px;
}

.markdown, .contacts-info {
    margin-bottom: 10px;
    line-height: 1.5;
}

.markdown::before {
    content: "";
    border-right: 20px solid #6d8053;
    border-radius: 50%;
    margin-right: 5px;
}

.contacts-info {
    display: flex;
}

.contacts-img {
    padding-right: 10px;
}

.code-wrapper {
    background-color: #f6f3f3;
    opacity: 0.75;
}

.project {
    font-size: 20px;
    margin-bottom: 10px;
}

.button {
    position: relative;
    display: inline-block;
    background-color: #6d8053;
    border: 1px solid #6d8053;
    color: white;
    padding: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #87a064;
    border: 1px solid #87a064;
}

.footer {
    width: 100%;
    background-color: #f6f3f3;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fooler-text, .footer-rs {
    padding: 10px;
}

.footer-rs {
    width: 80px;
}

.git-icon {
    width: 30px;
    height: 30px;
}
